---
layout: default.webc
eleventyImport:
collections: ["post"]
---
<div class="md:mx-3 md:mb-3 p-3 md:rounded bg-slate-50 text-lg shadow-md">
  Math, Compute, and Distributed Systems.
</div>
<div class="flex">
  <!-- Card listing recent blogposts -->
  <div class="md:mx-3 p-3 max-w-xl md:rounded bg-slate-50 text-lg shadow-md">
    <h2 class="text-2xl font-bold">Recent Blogposts</h2>
    {% for post in collections.post %}
    <a class="block p-3" href="{{ post.url }}">
      <div class="flex gap-1 items-end">
        <div class="aspect-square h-11 mb-2">{% hashgrid post.fileSlug %}</div>
        <h3 class="text-xl font-bold">{{ post.data.title }}</h3>
      </div>
      {% if post.data.series %}
      <hp class="text-sm text-gray-900 pl-3">{{ post.data.series }}</p>
        {% endif %}
        <p class="pl-3 text-sm text-gray-600 font-light">{{ post.date | date }}</p>
        <p class="pl-3">{{ post.data.tldr}}</p>
    </a>
    {% endfor %}
  </div>
</div>
